# location: /etc/systemd/system/
[Unit]
Description=OpenSSH Agent Socket

[Socket]
ListenStream=%t/ssh-agent.socket

[Install]
WantedBy=sockets.target
